body{
    margin: 0;
    background-image: url(https://wallpapercave.com/wp/wp14037690.gif);
}
.boss a{
    text-decoration: none;
    color: rgb(250, 242, 242);
}
.boss ul{
    list-style-type: none;
    display: flex;
    padding: 20px;
    justify-content: space-around;
}
.boss a:hover{
    color: black;
}
.boss{
    font-style: italic;
    
}